<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java"/>

    <!-- Excludes all 'module-info.java' files -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>

    <!-- Checks for whitespace -->
    <module name="FileTabCharacter"/>

    <module name="TreeWalker">
        <!-- Disable package name checking -->
        <module name="PackageName">
            <property name="severity" value="ignore"/>
        </module>

        <!-- Checks for Javadoc comments -->
        <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="JavadocStyle">
            <property name="checkFirstSentence" value="false"/>
        </module>

        <!-- Checks for imports -->
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>

        <!-- Essential whitespace -->
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

        <!-- Checks for blocks -->
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>

        <!-- Essential common coding problems -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="SimplifyBooleanReturn"/>

        <!-- Basic class design -->
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="allowPackagePrivate" value="true"/>
        </module>

    </module>
</module>